/*body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(176, 255, 209);
}

.cont1 {
  padding-top: 15%;
  display: flex;
}
.cont1 p {
  font-size: 1em;
  font-style: bold;
  padding: 1%;
}
.cont h1 {
  font-style: bold;
  text-align: center;
  font-size: 2em;
}

