body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(176, 255, 209);
}

.cont1 {
  padding-top: 60%;
  display: flex;
}
p {
  font-size: 1em;
  font-style: bold;
  padding: 1%;
}
h1 {
  font-style: bold;
  text-align: center;
  font-size: 2em;
}

.card {
  background-color: rgb(32, 124, 71);
  background-color: ;
}
